Repository ombre8/puzzle.opnsense, changes with the owners that CODEOWNERS names for each.
All owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

updated stuff for 26.1
  .github/workflows/ansible-test.yml
  .gitignore
  CHANGELOG.rst
  Pipfile
  Pipfile.lock
  changelogs/changelog.yaml
  changelogs/fragments/add-26.1-support.yml
  galaxy.yml
  molecule/firewall_alias/molecule.yml
  molecule/firewall_rules/molecule.yml
  molecule/interfaces_assignments/molecule.yml
  molecule/opnsense_config/molecule.yml
  molecule/system_access_users/molecule.yml
  molecule/system_high_availability_settings/molecule.yml
  molecule/system_settings_general/molecule.yml
  molecule/system_settings_logging/molecule.yml
  plugins/module_utils/module_index.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

exclude wrong combinations
  .github/workflows/ansible-test.yml
Owners: @ombre8, @dongiovanni83

fix pipeline
  tests/sanity/ignore-2.22.txt
Owners: @ombre8, @dongiovanni83, @acteru

chore: add update issue template (#196)
  .github/ISSUE_TEMPLATE/opnsense_version_update.md
Owners: @ombre8, @dongiovanni83

moar
  .github/workflows/ansible-test.yml
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/drop-24.1-support.yml
  docs/docsite/rst/development_guide.rst
  galaxy.yml
  molecule/firewall_alias/molecule.yml
  molecule/firewall_rules/molecule.yml
  molecule/interfaces_assignments/molecule.yml
  molecule/opnsense_config/molecule.yml
  molecule/system_access_users/molecule.yml
  molecule/system_high_availability_settings/molecule.yml
  molecule/system_settings_general/molecule.yml
  molecule/system_settings_logging/molecule.yml
  plugins/module_utils/module_index.py
  tests/config.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

feat(module_index): add OPNsense 26.1 support
  changelogs/fragments/add-26.1-support.yml
  molecule/opnsense_config/molecule.yml
  plugins/module_utils/module_index.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(interfaces_assignments): add 26.1 molecule platform, remove 24.1
  changelogs/fragments/interfaces-assignments-26.1.yml
  molecule/interfaces_assignments/molecule.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_settings_general): add 26.1 molecule platform, remove 24.1
  changelogs/fragments/system-settings-general-26.1.yml
  molecule/system_settings_general/molecule.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(firewall_alias): remove module at version 3.0.0
  changelogs/fragments/remove-firewall-alias.yml
  meta/runtime.yml
  molecule/firewall_alias/converge.yml
  molecule/firewall_alias/molecule.yml
  molecule/firewall_alias/verify.yml
  plugins/module_utils/firewall_alias_utils.py
  plugins/modules/firewall_alias.py
  tests/unit/plugins/module_utils/test_firewall_alias_utils.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(firewall_rules): remove module at version 3.0.0
  changelogs/fragments/remove-firewall-rules.yml
  meta/runtime.yml
  molecule/firewall_rules/converge.yml
  molecule/firewall_rules/molecule.yml
  plugins/module_utils/firewall_rules_utils.py
  plugins/modules/firewall_rules.py
  tests/unit/plugins/module_utils/test_firewall_rule_target.py
  tests/unit/plugins/module_utils/test_firewall_rules_utils.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(system_settings_logging): remove module at version 3.0.0
  changelogs/fragments/remove-system-settings-logging.yml
  meta/runtime.yml
  molecule/system_settings_logging/converge.yml
  molecule/system_settings_logging/molecule.yml
  molecule/system_settings_logging/verify.yml
  plugins/modules/system_settings_logging.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(system_access_users): remove module at version 3.0.0
  changelogs/fragments/remove-system-access-users.yml
  meta/runtime.yml
  molecule/system_access_users/converge.yml
  molecule/system_access_users/molecule.yml
  molecule/system_access_users/verify.yml
  plugins/module_utils/system_access_users_utils.py
  plugins/modules/system_access_users.py
  tests/unit/plugins/module_utils/test_system_access_users_utils.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(system_high_availability_settings): remove module at version 3.0.0
  changelogs/fragments/remove-system-high-availability-settings.yml
  meta/runtime.yml
  molecule/system_high_availability_settings/converge.yml
  molecule/system_high_availability_settings/molecule.yml
  molecule/system_high_availability_settings/verify.yml
  plugins/modules/system_high_availability_settings.py
  tests/unit/plugins/modules/test_system_high_availability_settings.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

ci(support-matrix): drop Python <3.11 and ansible-core <2.15
  .github/workflows/ansible-test.yml
  Pipfile
  changelogs/fragments/drop-python-3.10-ansible-2.14.yml
  docs/docsite/rst/development_guide.rst
  tests/config.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

ci(support-matrix): drop Python <3.11 and ansible-core <2.15 (#199)
  .github/workflows/ansible-test.yml
  Pipfile
  changelogs/fragments/drop-python-3.10-ansible-2.14.yml
  docs/docsite/rst/development_guide.rst
  tests/config.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_settings_logging): restore module, fix changelog fragment and meta/runtime.yml
  changelogs/fragments/remove-system-settings-logging.yml
  meta/runtime.yml
  molecule/system_settings_logging/converge.yml
  molecule/system_settings_logging/molecule.yml
  molecule/system_settings_logging/verify.yml
  plugins/modules/system_settings_logging.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(firewall_rules): restore module, fix changelog fragment and meta/runtime.yml
  changelogs/fragments/remove-firewall-rules.yml
  meta/runtime.yml
  molecule/firewall_rules/converge.yml
  molecule/firewall_rules/molecule.yml
  plugins/module_utils/firewall_rules_utils.py
  plugins/modules/firewall_rules.py
  tests/unit/plugins/module_utils/test_firewall_rule_target.py
  tests/unit/plugins/module_utils/test_firewall_rules_utils.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(firewall_alias): restore module, fix changelog fragment and meta/runtime.yml
  changelogs/fragments/remove-firewall-alias.yml
  meta/runtime.yml
  molecule/firewall_alias/converge.yml
  molecule/firewall_alias/molecule.yml
  molecule/firewall_alias/verify.yml
  plugins/module_utils/firewall_alias_utils.py
  plugins/modules/firewall_alias.py
  tests/unit/plugins/module_utils/test_firewall_alias_utils.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_access_users): restore module, fix changelog fragment and meta/runtime.yml
  changelogs/fragments/remove-system-access-users.yml
  meta/runtime.yml
  molecule/system_access_users/converge.yml
  molecule/system_access_users/molecule.yml
  molecule/system_access_users/verify.yml
  plugins/module_utils/system_access_users_utils.py
  plugins/modules/system_access_users.py
  tests/unit/plugins/module_utils/test_system_access_users_utils.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_high_availability_settings): restore module, fix changelog fragment and meta/runtime.yml
  changelogs/fragments/remove-system-high-availability-settings.yml
  meta/runtime.yml
  molecule/system_high_availability_settings/converge.yml
  molecule/system_high_availability_settings/molecule.yml
  molecule/system_high_availability_settings/verify.yml
  plugins/modules/system_high_availability_settings.py
  tests/unit/plugins/modules/test_system_high_availability_settings.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_settings_logging): align removal_version in meta/runtime.yml to 4.0.0
  meta/runtime.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_settings_logging): update removed_in to 4.0.0 in module documentation
  plugins/modules/system_settings_logging.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(firewall_rules): update removed_in to 4.0.0 in module documentation
  plugins/modules/firewall_rules.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(firewall_alias): update removed_in to 4.0.0 in module documentation
  plugins/modules/firewall_alias.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_access_users): update removed_in to 4.0.0 in module documentation
  plugins/modules/system_access_users.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_high_availability_settings): update removed_in to 5.0.0 in module documentation
  plugins/modules/system_high_availability_settings.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(module_index): move 24.1 drop to breaking_changes in changelog fragment
  changelogs/fragments/add-26.1-support.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

feat(module_index): add OPNsense 26.1 support, drop 24.1 (#200)
  changelogs/fragments/add-26.1-support.yml
  molecule/opnsense_config/molecule.yml
  plugins/module_utils/module_index.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(interfaces_assignments): add 26.1 molecule platform, remove 24.1 (#201)
  changelogs/fragments/interfaces-assignments-26.1.yml
  molecule/interfaces_assignments/molecule.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

fix(system_settings_general): add 26.1 molecule platform, remove 24.1 (#202)
  changelogs/fragments/system-settings-general-26.1.yml
  molecule/system_settings_general/molecule.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(system_settings_logging): remove module at version 3.0.0 (#203)
  changelogs/fragments/remove-system-settings-logging.yml
  meta/runtime.yml
  plugins/modules/system_settings_logging.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

merge local since github gui is confusing
  meta/runtime.yml
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(firewall_rules): remove module at version 3.0.0 (#204)
  changelogs/fragments/remove-firewall-rules.yml
  meta/runtime.yml
  plugins/modules/firewall_rules.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(firewall_alias): remove module at version 3.0.0 (#205)
  changelogs/fragments/remove-firewall-alias.yml
  meta/runtime.yml
  plugins/modules/firewall_alias.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(system_access_users): remove module at version 3.0.0 (#206)
  changelogs/fragments/remove-system-access-users.yml
  plugins/modules/system_access_users.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

chore(system_high_availability_settings): remove module at version 3.0.0 (#207)
  changelogs/fragments/remove-system-high-availability-settings.yml
  meta/runtime.yml
  plugins/modules/system_high_availability_settings.py
Owners: @ombre8, @dongiovanni83, @acteru, @rekup, @killuuuhh

CODEOWNERS:

# Default owners for everything in the repo
* @ombre8 @dongiovanni83 @acteru @rekup @killuuuhh

# Documentation
/docs/ @ombre8 @dongiovanni83

# GitHub Actions
.github/ @ombre8 @dongiovanni83

# Tests
tests/ @ombre8 @dongiovanni83 @acteru

# Molecule tests
molecule/ @ombre8 @dongiovanni83 @acteru

# Core modules
plugins/modules/ @ombre8 @dongiovanni83 @acteru @rekup @killuuuhh

# Module utilities
plugins/module_utils/ @ombre8 @dongiovanni83 @acteru @rekup @killuuuhh
